[submodule "lib/json"]
	path = lib/json
	url = https://github.com/merumerutho/json.lua.git
[submodule "demos"]
	path = demos
	url = https://github.com/merumerutho/LOVJ-Demos.git
[submodule "lib/shaders"]
	path = lib/shaders
	url = https://github.com/merumerutho/LOVJ-Shaders.git
